.addPostContainer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 30vw;
    padding: 0.5rem;
    background-color: rgb(192, 245, 220);
    //border-radius: 10px;
    box-shadow: 5px 10px 15px #888888;
    .addPostHeading{
        position: relative;
        font-size: 2vw;
        text-decoration: underline;
        font-weight: bold;
        padding: 0.2rem;
        text-shadow: 5px 10px 15px #888888;
        text-align: center;
    }
    .inputBoxContainer{
        position: relative;
        .postInput{
            box-shadow: 5px 10px 15px #888888;
            border-radius: 5px;
            height: 1.5rem;
            width: 25vw;
            outline: none;
            font-size: 1.2vw;
            margin: 1%;
            //align-self: stretch;
        }
        right: 2%;
        padding: 1rem;
    }
    .inputBtnContainer{
        .postSubmit{
            box-shadow: 5px 10px 15px #888888;
            background-color: rgb(9, 140, 216);
            color: white;
            height: 4vh;
            width: 14vw;
            border-radius: 5px;
            font-size: 1vw;
            &:hover{
                cursor: pointer;
                background-color: rgb(255, 255, 255);
                color: rgb(9, 140, 216);
            }
        }
        
        
    }
}