.postMainContainer{
    position:relative;
    height: 50vh;
    width:25vw;
    background-color: rgb(59, 86, 206);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    margin:1%;
    box-shadow: 5px 10px 15px #888888;
    color: white;
    .postTitle{
        font-weight: bold;
        font-size: 2vw;
        text-decoration: underline;
    }
    .postDescription{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border:1px solid white;
        //border-radius: 5px;
        width: 24vw;
        height: 10vh;
        align-self: center;
        overflow: auto;
        text-align: left;
        background-color: rgb(84, 156, 223);
        font-size: 1vw;
    }
    .postaddedOn{
        font-size: 0.8vw;
        position: relative;
        left:-9vw;
    }
    .postComments{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        //flex-wrap: wrap;
        border: 1px solid blanchedalmond;
        height: 31vh;
        width: 23vw;
        align-self: center;
        .commentHeader{
            font-weight: bold;
            font-size: 1.5vw;
            text-decoration: underline;
        }
        .enterComment{
            .enterCommentForm{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            position: relative;
            .commentInput{
                width: 12vw;
                margin:1%;
                height: 3vh;
            }
            .commentSubmitBtn{
                width: 9vw;
                height: 3.5vh;
                margin-top: 1%;
                background-color: rgb(9, 138, 59);
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 1vw;
                &:hover{
                    background-color: white;
                    color: rgb(9, 138, 59);
                    cursor: pointer;
                }
            }
            }
        }
        .commentsSection{
            position: relative;
            //display: flex;
            //flex-wrap: wrap;
            //border:1px solid white;
            border-radius: 10px;
            width: 22vw;
            height: 20vh;
            margin-top: -0%;
            align-self: flex-start;
            overflow: auto;
            justify-content: flex-start;
            .comment{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                border:1px solid white;
                border-radius: 5px;
                width: 21vw;
                align-self:flex-start;
                //justify-content: left;
                margin: 0.5vh;
                background-color: rgb(23, 34, 134);
                .commentDate{
                    font-size: 1vh;
                    position: relative;
                    left:-8vw;
                    align-self: left;
                }
                .commetText{
                    position: relative;
                    display: flex;
                    justify-content: left;
                    text-align: left;
                }
            }
        }
    }
}