.allPostPageMainContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(48, 45, 45);
    .addNewPostMainContainer{
        display: flex;
        position: relative;
        //border: 1px solid black;
        height: 30%;
        justify-content: center;
        align-self: center;
        padding: 1rem;
    }
    .displayAllPostMainContainer{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 70%;
        overflow: auto;
        border: 2px solid black;
    }
}